[2018-10-15 14:28] iOSGeekerOfChina opened #1 "what’s your data set?"

[2018-10-15 14:30] codertimo commented on #1
I didn't decide yet, just started this project one hour ago haha.
Do you think using the dataset which referred on paper is good idea?
Or have some another good idea? thanx 👍

[2018-10-17 13:09] codertimo opened #2 "Should random sampling work per every epoch?"
Is is okay to use random sampled data which is saved before the training?
I mean, should it have to be changed every epoch?

[2018-10-17 13:16] codertimo opened #3 "architecture & training process verification with fully training"
Is it possible to achieve the same result as the paper in short time?
Well.. I don't have enough GPU & computation power

If we can't train the full corpus as the google, then how can we prove that this code is verified?
Training 256M size corpus without Google AI class gpu computation is nearly, impossible for me.

If you have any thought(reducing the model size) please let me know!

[2018-10-18 02:15] crazyofapple commented on #1
Maybe you can try some multilingual corpus not just English, hah

[2018-10-18 02:17] codertimo commented on #1
@crazyofapple Totally agree haha. Now I'm trying to train this model with korean corpus with 1080ti x2. But seriously, the model is too big for individual researcher.... we need some NASA Scale GPU power.

[2018-10-18 03:29] MrRace commented on #1
Just the same dataset with raw paper,I think maybe better

[2018-10-18 03:35] MrRace opened #4 "Is there any result?"
Is there any result that can be compared to the raw paper?Looking forward to your updates.

[2018-10-18 04:31] codertimo commented on #4
I think it's the same thread with #3 please add your comment on there.

[2018-10-18 04:31] #4 closed

[2018-10-18 11:56] mjc14 opened #6 "how dose your code implement Bidirectional Transformers?"
hi,
   i am new user of pytorch, i want to know which part in your code can represent   **Bidirectional** Transformers  ?  thanks .

[2018-10-18 13:49] codertimo commented on #6
@mjc14 thank you for asking, it's very good question. Well I was confused the meaning of word "Bidirectional Transfomer" at first. But when I saw this description on paper, I knew that "Bidirectional Transfomer" = "Transformer Encoder" which is used in "Attention All you Need".

encoder” while the left-context-only version is referred to as a “Transformer decoder” since it can be used for text gen

[2018-10-18 14:56] codertimo commented on #1
Love to do it, if I have enough lot's of 2080ti

[2018-10-19 01:31] MrRace commented on #1
@codertimo
http://timdettmers.com/2018/10/17/tpus-vs-gpus-for-transformers-bert/

[2018-10-19 01:33] codertimo commented on #1
@MrRace

Haha 99 days LoL.
![image](https://user-images.githubusercontent.com/9063575/47192831-5f24e080-d38a-11e8-81aa-e095ca2a0f6d.png)

[2018-10-19 05:52] DSKSD commented on #2
Hi, Junseong.
I think you should sampling per every batch to prevent overfitting.
And I have a question. how do you tokenize your dataset?
Their vocab size is only 30000(subword level) because of their internal source (WPM).

[2018-10-19 05:58] codertimo commented on #2
Thank you for asking @DSKSD , good to see you on opensource community

### Sampling Issue
Hmm I worried about overfitting too if we using the generated(random sampled) corpus, every epoch. I'm not sure how the google guys did it, maybe I can send the email to author?

### Tokenization issue
The paper refer that they used the wordpiece model which google ai developed (it might be different with sen

[2018-10-20 02:28] WencongXiao opened #10 "imbalance GPU memory usage"
Hi,

Nice try for BERT implementation.

I try to run your code in 4V100 and I find the memory usage is imbalance: the first GPU consume 2x  memory than the others. Any idea about the reason?

Btw, I think the parameter order in train.py line 64 is incorrect.

[2018-10-20 02:51] MarkWuNLP commented on #2
Hi, Junseong,
As far as I know, wordpiece can be obtained easily with learn_bpe and apply_bpe in machine translation open source code (OpenNMT and tensor2tensor). You can try it! However, the effect of BPE in Chinese is not as good as that in English. I believe similar phenomenon will be oberseved in Korean as well.

[2018-10-20 02:57] MarkWuNLP opened #11 "Mask language model loss"
Hi,
Thank you for your clean code on Bert. I have a question about Mask LM loss after I read your code. Your program computes a mask language model loss on both positive sentence pairs and negative pairs.

Does it make sense to compute Mask LM loss on negative sentence pairs? I am not sure how Google computes this loss.

[2018-10-20 05:35] codertimo commented on #2
@DSKSD 0.0.1a3 version updated for random sampling per batch

[2018-10-20 05:43] codertimo commented on #11
@MarkWuNLP good question!.
I think computing the masked lm loss on negative sample, make sense.

Even if the negative sample(sentence B) is not the next sentence of sentence A, sentence B is still natural language sentence. As far as I know, the objective goal is to make this model can understand the natural language sentence very well. And also next sentence prediction and masked LM is totally di

[2018-10-20 05:46] codertimo commented on #10
@WencongXiao Thank you for your interest to my project.

The reason why first GPU takes double memory is that first GPU also contain the model parameter, and others only contain the batch_data for computation

first GPU = model_parameter + batch_data
other GPUS = batch_data

if you have any significant result on 4 GPU training, please let me know the result and your dataset.
It would be very helpf

[2018-10-20 05:48] codertimo commented on #6
@mjc14 if you dont have any further question, I'll close this issue in soon. thanx

[2018-10-20 07:35] SongRb opened #13 "Question about random sampling."
https://github.com/codertimo/BERT-pytorch/blob/7efd2b5a631f18ebc83cd16886b8c6ee77a40750/bert_pytorch/dataset/dataset.py#L50-L64

Well, seems `random.random()` always returns a positive number, so `prob >= prob * 0.9` will always be true?

[2018-10-20 07:42] thomwolf commented on #10
Hi,
Here is more information on this question of GPUs imbalance:
https://medium.com/huggingface/training-larger-batches-practical-tips-on-1-gpu-multi-gpu-distributed-setups-ec88c3e51255
Best,
Thom

[2018-10-20 08:31] codertimo commented on #13
Haha your right it seems else is more efficient. thank you for your comment 👀

[2018-10-20 08:42] codertimo commented on #10
@thomwolf oh my god. Thank you for let us know the great post.
It was so helpful! I'll try applying the multi-gpu training on 0.0.1a4.
Thank again 👍 by junseong

[2018-10-20 15:01] shuuki4 commented on #11
In addition to @codertimo 's reply, it seems reasonable to apply MaskedLM on negative samples since authors provided the masked negative pair example in their paper.

[code]

[2018-10-20 15:36] codertimo commented on #13
@SongRb It would be great if you fix and pull request to me. then you could be contributor too! please let me know your thought :)

[2018-10-20 15:38] #6 closed

[2018-10-20 15:38] #2 closed

[2018-10-20 15:40] MarkWuNLP commented on #11
I see. Thank you for your answer!

[2018-10-20 15:40] #11 closed

[2018-10-20 16:05] #13 closed

[2018-10-22 02:11] yangze01 opened #15 "EP_train:0: 0%|| 0/15636 [00:00<?, ?it/s]Segmentation fault (core dumped)"
the data format is s, t, s_l, t_l, IsNext.
![image](https://user-images.githubusercontent.com/11796873/47275543-dce32900-d5e2-11e8-812e-25a5876151ce.png)

[2018-10-22 03:43] yangze01 opened #16 "segmentation fault"
When the code's Dataset class is modified, the error occurs. I try to debug the error, the code except at line: loss.backward().
![image](https://user-images.githubusercontent.com/11796873/47277153-bd9ec880-d5ef-11e8-8e40-6d80a5e55749.png)

[2018-10-22 04:25] wenhaozheng-nju opened #17 "The question about the implement of learning_rate"
Nice implements!  However, I have a question about learning rate. The learning_rate schedule which from the origin Transformers is warm-up restart, but your implement just simple decay. Could you implement it in your BERT code?

[2018-10-22 06:23] zhupengjia opened #18 "model/embedding/position.py"
div_term = (torch.arange(0, d_model, 2) * -(math.log(10000.0) / d_model)).float().exp()
should be:
div_term = (torch.arange(0, d_model, 2).float() * -(math.log(10000.0) / d_model)).exp()

In [51]: (torch.arange(0, d_model, 2) * -(math.log(10000.0) / d_model)).float().exp()
    ...:
Out[51]:
tensor([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1.,

[2018-10-22 08:30] waallf opened #19 "How to embedding segment lable"
Thanks for you code ,which let me leran more details for this papper .But i cant't understand `segment.py`. You haven't writeen  how to embedding segment lable .

[2018-10-22 13:18] codertimo commented on #19
@waallf It's just embedding with vocab size 2, which element is sentence A and sentence B.
So I inherit the nn.Embedding and initialized with vocab_size 2

[2018-10-22 13:20] codertimo commented on #18
#6 Please check this issue, which I answered the same question

[2018-10-22 13:23] codertimo commented on #17
@wenhaozheng-nju great point, I'll implement is ASAP. Thank you 👍
Please let me know if you have any more request!

[2018-10-22 13:43] yangze01 commented on #16
@codertimo thank you very much. you are right, it's CUDA's problem. your code with my own cooked data is running now. it's so cool to reproduce the BERT so quickly, thanks for your sharing!

[2018-10-22 13:44] #15 closed

[2018-10-22 13:45] #16 closed

[2018-10-22 13:51] yangze01 commented on #16
@codertimo thank you very much. You are right, it's the CUDA's problem. the code is running with my own cooked data. It's so cool to reproduce BERT so quickly, thanks for your sharing!

[2018-10-22 13:53] codertimo commented on #18
@zhupengjia Can you show me the output of fixed version of your code?

[2018-10-22 14:04] codertimo commented on #17
@wenhaozheng-nju if you can implement this functionality, can you make a code and pull request?
I have no experience on think kind of things :) please let me know your thought

[2018-10-22 14:22] yangze01 commented on #15
duplicate

[2018-10-22 14:34] daiwk opened #20 "readme has wrong commands"
should be

according to

[2018-10-22 14:40] codertimo commented on #20
oh what a careful viewer :) thanx i'll fix it ASAP

[2018-10-22 17:40] briandw commented on #3
The authors plan on releasing the full pre-trained model in a few weeks. There will be the task of loading their model weights into PyTorch. Perhaps ONNX will work for getting the weights out of TF and into PT?

Have a looks at BertPaper's comments here:
https://www.reddit.com/r/MachineLearning/comments/9nfqxz/r_bert_pretraining_of_deep_bidirectional/

[2018-10-22 21:37] winitzki opened #21 "Erroneous code"
https://github.com/codertimo/BERT-pytorch/blob/7efd2b5a631f18ebc83cd16886b8c6ee77a40750/bert_pytorch/dataset/dataset.py#L53-L62

This code is incorrect - it will always go into the last `if` clause. For instance, `prob < prob * 0.8` is never true.

[2018-10-22 22:00] zhupengjia commented on #18
Thank you for your answer. The output of both version:
In [1]: import torch, math

In [2]: d_model = 128

In [3]: max_len = 512

In [4]: (torch.arange(0, d_model, 2).float() * -(math.log(10000.0) / d_model)).exp()
Out[4]:
tensor([1.0000, 0.8660, 0.7499, 0.6494, 0.5623, 0.4870, 0.4217, 0.3652, 0.3162,
        0.2738, 0.2371, 0.2054, 0.1778, 0.1540, 0.1334, 0.1155, 0.1000, 0.0866,
        0.0750, 0.

[2018-10-22 22:58] artemisart commented on #13
I also think these conditions are still wrong, I'm sending a PR

[2018-10-23 01:03] codertimo commented on #3
@briandw Well I sent the email to author, and they noticed me the same thing.
Well I agree that we can generate the pytorch module using ONNX, but it might be impossible to load weight on this model as same as tf model architecture. So do you have any idea about this?

[2018-10-23 01:05] codertimo commented on #21
fixed by #22 duplicated with #13

[2018-10-23 01:05] #21 closed

[2018-10-23 02:04] zhupengjia commented on #18
@codertimo Sure~ Just make a pull request

[2018-10-23 02:07] #18 closed

[2018-10-23 02:08] #20 closed

[2018-10-23 02:48] jiangyangbo opened #25 "how to get dataset.small from corpus.small"
in  the 0th step ,  build a  corpus named corpus.small,
in  the 2th  step,   use a dataset.small ?
here is my question,   build dataset.small   from corpus.small    or not ?

[2018-10-23 02:52] wenhaozheng-nju commented on #17
You could refer to this implement:

https://github.com/jadore801120/attention-is-all-you-need-pytorch/blob/20f355eb655bad40195ae302b9d8036716be9a23/transformer/Optim.py#L4

[2018-10-23 02:55] codertimo commented on #25
#20 duplicated issue please refer here :) thanx

[2018-10-23 02:55] #25 closed

[2018-10-23 03:40] guotong1988 opened #26 "Bidirectional Encoder = Transformer (self-attention), Is it true？"
https://github.com/codertimo/BERT-pytorch/blob/alpha0.0.1a4/bert_pytorch/model/transformer.py#L9

Thank you！

[2018-10-23 04:04] wykdg commented on #26
yes

[2018-10-23 04:09] codertimo commented on #26
#6 refer this issue

[2018-10-23 04:16] #26 closed

[2018-10-23 06:39] guotong1988 opened #27 "How does Next-Sentence-Prediction benefit to both QA and NLI?"
The input for the one bidirectional transformer to pretrain is two sentences' concatenation.
I think the one bidirectional transformer is 'storing' the info of two sentences.
But in QA and NLI, we have two transformers and each transformer's input is one sentence.

[2018-10-23 07:00] guotong1988 commented on #27
![image](https://user-images.githubusercontent.com/4702353/47341717-56a70f80-d6d4-11e8-9b9d-6b31d0dfc4de.png)

Oh, I see..

[2018-10-23 07:00] #27 closed

[2018-10-23 07:08] nateraw opened #28 "Example of Input Data"
Could you give a concrete example of the input data? You gave an example of the corpus data, but not the dataset.small file found in this line:

`bert -c data/dataset.small -v data/vocab.small -o output/bert.model`

If you could show perhaps a couple of examples, that would be very helpful! I am new to pytorch, so the dataloader function is a little confusing.

[2018-10-23 07:25] #17 closed, assigned to nobody

[2018-10-23 07:35] coddinglxf opened #29 "when training the masked LM, the unmasked words (have label 0) were trained together with masked words?"
According to the code

[code]

Do we need to exclude the unmasked words when training the LM?

[2018-10-23 07:37] nateraw commented on #28
Why might this be happening then? I ran these lines...

[code]

<img width="1091" alt="screen shot 2018-10-23 at 1 33 54 am" src="https://user-images.githubusercontent.com/32437151/47343649-d9dc4d00-d663-11e8-9132-e8b0b8d76470.png">

[2018-10-23 07:38] nateraw commented on #28
Dummy data looks like this:
<img width="397" alt="screen shot 2018-10-23 at 1 37 35 am" src="https://user-images.githubusercontent.com/32437151/47343861-45261f00-d664-11e8-8c67-fee373cf8a3c.png">

[2018-10-23 07:38] codertimo commented on #29
@coddinglxf I just solved that problem with `nn.NLLLoss(ignore_index=0)` which 0 is equal to pad_index. Even if we target the 0(unmasked_value), it doesn't affect to the loss of propagation

[2018-10-23 07:43] codertimo commented on #28
@nateraw Can you update the bert-pytorch version to 0.0.1a4?
[code]

[2018-10-23 07:44] coddinglxf commented on #29
got it，thanks.
however，when batch size is large，the final LM output will be “batch_size * seq_len * vacab_size”, such matrix is too big. maybe we can record the index of masked works when preprocessing the text， and use index technology to save memory.

[2018-10-23 07:46] codertimo commented on #29
@coddinglxf that's what I thought it first, but can't implement it efficiently as much as GPU computation time. If you have any idea please implement and pull request plez :)
It would be really cool to do it 👍

[2018-10-23 07:50] nateraw commented on #28
Interestingly, a different error:

<img width="1067" alt="screen shot 2018-10-23 at 1 49 48 am" src="https://user-images.githubusercontent.com/32437151/47344548-fc6f6580-d665-11e8-9e29-890384635fa2.png">

[2018-10-23 07:53] codertimo commented on #28
@nateraw I got what was wrong with both your example corpus and mine.
We should not make a blank line in end of the line! If you check the line 18 at your corpus,
`\n` is declared on last line, which means that python recognize there is one more extra line.
Please remove the `\n` of end of character at the end of line. that would be help to fix it

[2018-10-23 07:56] nateraw commented on #28
Wow so dumb! My fault, I will report back if that change works or not.

[2018-10-23 08:04] coddinglxf commented on #29
@codertimo
the output of transformer block will be : (batch, seq,  hidden)

step 1:
we can reshape the transformer output as : (batch*seq,  hidden)

step 2: index the masked words
for 0-th sentence， the i-th masked word will have a index:  0 * seq + i
for j-th sentence,    the i-th masked word will have a index:   j * seq + i

combine step1 and step2:
we can get the hidden output of masked words (

[2018-10-23 08:05] egg-west opened #30 "The LayerNorm implementation"
I am wondering why don't you use the standard nn version of **LayerNorm**?
 I notice the difference is the denomenator: nn.LayerNorm use the {sqrt of (variance + epsilon)} rather than {standard deviation + epsilon}

Could you clarify these 2 approaches?

[2018-10-23 08:15] nateraw commented on #28
Issue was with the tabs as well. Replaced with literal tabs, and it worked. Closing the issue, thank you!

[2018-10-23 08:15] codertimo commented on #30
Well the reason why I used this layer norm is "Attention All you need" implementation `Annotated Transformer` used this code, and just copied from there. So.. if anyone can answer this question, would be seriously awesome

[2018-10-23 08:15] #28 closed

[2018-10-23 08:40] nateraw opened #31 "Single Sentence Input support"
In the paper, they note that they optionally use single sentence input for some classification tasks. I'll try to take a look at doing it myself, as it looks like it is not currently supported.

[2018-10-23 08:42] codertimo commented on #31
@nateraw Well currently, BERT-pytorch only support 2sentences input.
Cause this implementation is only for training BERT, not for transfer learning :)

[2018-10-23 08:43] codertimo commented on #31
But you can give a single sentence, if you change little bit of code 👍

[2018-10-23 09:17] #31 closed

[2018-10-23 09:52] jiqiujia opened #32 "pred_loss decrease fast while avg_acc stay at 50%"
I try to run the code on a small dataset and I find that pred_loss decrease fast while avg_acc stay at 50%. It is strange to me since decrease in pred_loss should indicates increase in accuracy.
![image](https://user-images.githubusercontent.com/8109984/47352288-2e2b0f80-d6ec-11e8-96c0-2187e18d651c.png)

[2018-10-23 10:18] wenhaozheng-nju commented on #32
I also meet the same problem in small dataset.

[2018-10-23 12:43] NiHaoUCAS commented on #32
me too

[2018-10-23 13:17] codertimo commented on #32
Hmm interesting.. Is this the result of 0.0.1a4 version?
And How did you guys print out that result?

[2018-10-23 13:36] NiHaoUCAS commented on #32
0.0.01a3 vesion
the result is print out by `bert` cmd , no any modify.

[2018-10-23 13:51] NiHaoUCAS opened #33 "bug report"
when the corpus is:
` how are you \ tnice to meet you`
and apply `bert-vocab ` cmd, the output of the vacab is
 `['<pad>', '<unk>', '<eos>', '<sos>', '<mask>', 'you', 'are', 'how', 'meet', 'nice', 'to']`.
But when change the corputs to
 ` how are you\tnice to meet you`, the result is `['<pad>', '<unk>', '<eos>', '<sos>', '<mask>', 'are', 'how', 'meet', 'to', 'you', 'younice']`, the last token beco

[2018-10-23 16:16] jiqiujia commented on #32
I try using 0.0.1a4 and the result is the same

[2018-10-23 16:20] jiqiujia commented on #33
I think this is a bug. And the problem is that in vocab.y the 127th line
`                words = line.replace("\n", "").replace("\t", "").split()
`
\t is replaced by "". I think it should by replaced by a space.

[2018-10-23 17:53] briandw commented on #3
@codertimo Should the goal be to train BERT from scratch or to fine-tune the model? I'd say that scratch training isn't realistic right now. Fine-tuneing shouldn't be that resource intense and will be very valuable.

[2018-10-23 21:35] nateraw commented on #19
More concretely, he sets this embedding to be of shape (2 + 1, embed_size) where:

- 2 is the number of segments in the input
- 1 is an additional index is for padding. It is initialized as zeros, as-per the [Pytorch Documentation](https://pytorch.org/docs/stable/nn.html#embedding)

We keep the same embedding space as the other embeddings so that we can add them together later.

[code]

@codertimo

[2018-10-24 01:02] #19 closed

[2018-10-24 01:08] codertimo commented on #3
@briandw Thank you for your advice. Currently my goal is training from the scratch with smaller model which can available to train on our GPU environment. Cause I wanna keep this implementation for someone need training on there specific domain or language.

But as you said, moving trained model on tf to pytorch is another goal of this project too. So I liked to implement the transfer code for loa

[2018-10-24 01:13] codertimo opened #34 "Pretrained model transfer to pytorch"
Well all of you guys know, it's nearly impossible to train from the scratch, because of lack of computation power. So I'm going to implement the transfer code for making pretrained model can be supported on pytorch too.

This implementation will be started from the Google release their official BERT code and pretrained model. If anyone interested to join this work, please leave the comment undersi

[2018-10-24 01:14] codertimo commented on #34
This issue is stated from #3

[2018-10-24 01:19] codertimo commented on #32
Hmmm... anyone have any clues?

[2018-10-24 12:46] cairoHy commented on #32
Probably the criterion loss function is the problem.

[code]

with the above code snippet, the original_loss is 0.0002, and loss is 5.0005.

I changed following code in `trainer/pretrain.py`:
[code]
to:
[code]

And as the magnitude of next_loss is smaller than mask_loss, I also over weight the next_loss, and get 58% next accuracy after train on my corpus for one epoch.

[2018-10-24 12:55] jiqiujia commented on #32
That's right. I just figure it out. Also note that for masklm, we still need `ignore_index=0` since we only want to predict the masked words.

[2018-10-25 01:00] codertimo commented on #32
@cairoHy Wow thank you for your smart analysis.

I just fixed this issue on [0.0.1a5](https://github.com/codertimo/BERT-pytorch/tree/alpha0.0.1a5) version branch. And changes is under here.

https://github.com/codertimo/BERT-pytorch/blob/2a0b28218f4fde216cbb7750eb584c2ada0d487b/bert_pytorch/trainer/pretrain.py#L61-L62

https://github.com/codertimo/BERT-pytorch/blob/2a0b28218f4fde216cbb7750eb584c2a

[2018-10-25 01:06] codertimo commented on #32
Thank you for everyone who join this investigation :)
It was totally my fault and sorry for your inconvenience during bug fixing.

Additionally, is here anyone can test the new code with your own corpus?
Any feedback would be welcome, and you can reinstall new version using under command.

[code]

specially thanks for @jiqiujia @cairoHy @NiHaoUCAS @wenhaozheng-nju

[2018-10-25 01:32] jiqiujia commented on #32
@cairoHy after the modification, the model can't converge. Any suggestions?

[2018-10-25 02:55] jiqiujia commented on #32
@codertimo The loss just don't converge
![image](https://user-images.githubusercontent.com/8109984/47472994-511c0780-d843-11e8-84e4-581ce34196dc.png)

[2018-10-25 09:02] wlpdlut opened #35 "Tensor transform question in pretrain.py"
There is a line like below in pretrain.py,

mask_loss = self.criterion(mask_lm_output.transpose(1, 2), data["bert_label"])

I run it, and find "mask_lm_output" is like "batch_size*input_length*vocab_size", and "data["bert_label"]" like "batch_size*input_length",  if transpose as above, Does it make sense ? I am confused.

[2018-10-25 14:08] codertimo commented on #35
@wlpdlut It's because I used the NLLLoss for criterion.
NLLLoss input should be `(batch_size, N_class, seq_len)`, please check the docs in under link.
https://pytorch.org/docs/stable/nn.html?highlight=nll#torch.nn.NLLLoss

Please tell me if you have any other question, thanks 👍

[2018-10-25 22:28] wlpdlut commented on #35
Thank you so much, Ｉ understand it now.

[2018-10-25 22:28] #35 closed

[2018-10-26 01:15] codertimo commented on #32
[bert-small-25-logs.txt](https://github.com/codertimo/BERT-pytorch/files/2517258/bert-small-25-logs.txt) This is the result of my 1M corpus with 1epoch, anyone can review this result

[2018-10-26 01:41] yangze01 commented on #32
@codertimo Could you please show your parameters setting?

[2018-10-26 01:51] codertimo commented on #32
@yangze01 just default params with batch size 128

[2018-10-26 01:57] yangze01 commented on #32
@codertimo I think these code have some errors, if len(t1) is longer than seq_len, the bert_input will only contains t1. and the length of segment_label is also not equal to the length of bert_input.
![image](https://user-images.githubusercontent.com/11796873/47539973-7ffab200-d905-11e8-8a75-3efd367afded.png)

[2018-10-26 02:00] codertimo commented on #32
I know but the line size of my corpus is usually less the 10 for each sentence.
And seq_len should be properly set by the user. I don't think it's the bug, and not in this thread

[2018-10-26 03:32] wenhaozheng-nju commented on #32
@codertimo  Suppose the dataset is:
             A  \t   B;     B  \t   C;       C   \t   D;   D   \t    E;
After your preprocessing:
             A   \t   B;      B   \t  Random;      C    \t   D;       D    \t    Random;
The  negative  instance "A   \t    Random"  may never be sampled

[2018-10-26 03:33] codertimo commented on #32
@wenhaozheng-nju hmmm but do you think it's the main problem of this issue? I guess it's a model problem.

[2018-10-26 03:42] wenhaozheng-nju commented on #32
@codertimo Yes, the model should sample positive and negative instance for each sentence in the sentence pair classification problem. I think that the two task are the same.

[2018-10-26 03:45] codertimo commented on #32
@wenhaozheng-nju Then do you think if i change the negative sampling code as you requested, than this issue could be figure it out?

[2018-10-26 03:59] yangze01 commented on #32
@codertimo I think everyone here wants to solve the problem, calm down, let's focus on the issue. @wenhaozheng-nju If you think it's the problem, you can try to modify the code and run.(but I think it's not the main problem. random negative sample is a commonly used strategy.)

[2018-10-26 04:12] jiqiujia commented on #32
I remove dropout in all layers and now my model success to converge. Maybe dropout in all layers is too big a regularization for small datasets? Or there is something wrong with dropout in this model implementation.
After 900 epoch, my training dataset achieve an accuracy of 81%.
![image](https://user-images.githubusercontent.com/8109984/47544091-ed174300-d917-11e8-94a3-dc02f7cddeb2.png)

@wenhaoz

[2018-10-26 04:26] leon-cas opened #36 "Why output_label=0 in datasets generation for Masked LM"
In dataset.py, function 'random_word', line90, why the output_label of  85% data(no masking) is set to 0 ， `output_label.append(0)`？

[2018-10-26 04:40] yangze01 commented on #32
@jiqiujia Wow, it's cool. How long is the sentence of your corpus?

[2018-10-26 05:16] jiqiujia commented on #32
I set parameter `--seq_len` to 32

[2018-10-26 08:10] leon-cas commented on #29
why here output_label is 0, but not "tokens[i]"?  if we set output_label =0, that means, just 15% of training data is used to train MaskedLM?
`tokens[i] = self.vocab.stoi.get(token, self.vocab.unk_index)
output_label.append(0)`

[2018-10-26 08:34] guotong1988 opened #37 "shape match for mul？"
https://github.com/codertimo/BERT-pytorch/blob/alpha0.0.1a5/bert_pytorch/model/embedding/position.py#L18

What are the shapes of `position` and `div_term`?

[2018-10-26 08:36] eveliao opened #38 "how to test the model?"
Could you please give some example code to load in the pre-trained model(i.e. bert.model.ep0 files)?
The code might take me a while to understand so I really appreciate it if you can help me.

[2018-10-26 22:47] nateraw commented on #37
It's fairly easy to step through the code to find the shape. d_model is the embedding size and max_len is the maximum length of a sequence. Hope this helps

![image](https://user-images.githubusercontent.com/32437151/47595685-c02a5680-d93e-11e8-9ddd-7df1e3675c56.png)

[2018-10-26 23:46] nateraw opened #39 "Why doesn't the counter in data_iter increase?"
I am currently playing around with training and testing the model. However, as I implemented the test section, I'm noticing that during the LM training, your counter doesn't increase when looping over data_iter found in [pretrain.py](https://github.com/codertimo/BERT-pytorch/blob/master/bert_pytorch/trainer/pretrain.py). This would cause problems when calculating the average loss/accuracy, wouldn'

[2018-10-26 23:51] #37 closed

[2018-10-26 23:53] nateraw commented on #39
Looks like this may be related to #32

[2018-10-27 02:04] codertimo commented on #32
@jiqiujia I trained my dataset for 10hours last night, with dropout rate 0.0 (which is same with no dropout) and dropout rate 0.1. Unfortunately, both test loss was not coveraged.
<img width="1045" alt="2018-10-27 10 57 02" src="https://user-images.githubusercontent.com/9063575/47598545-ff58b600-d9d7-11e8-88f4-56d586219968.png">

[2018-10-27 02:11] yangze01 commented on #32
@jiqiujia could you share more details? I trained with 1000000 samples, seq_len: 64, vocab_size: 100000 dropout = 0, but the result is the same as before.

[2018-10-27 03:18] jiqiujia commented on #32
my parameter settings is as follows, and I set next_setence loss's weight to be 5(It should be annealed, or set to 1 I think). I only have about 10000 sentence pairs and the vocab_size is about 4000.
![image](https://user-images.githubusercontent.com/8109984/47599095-675bcc00-d9d9-11e8-9e79-341fc9ea0129.png)
By the way, I also tried to test based on opennmt-py's tranformer implementation but it fa

[2018-10-27 03:30] jiqiujia commented on #32
And this is roughly the whole training log. The accuracy seems to stuck at 81% finally.
[Uploading _gaiastack_log_stdout (3).log…]()

[2018-10-27 07:29] threefoldo commented on #34
I would like to join, even though I'm not sure how much I can do.

The training procedure of current implementation is smooth. I finished training on 10K pairs of sentences within 30 minutes, the final loss is 7.73.

[2018-10-27 08:06] Kosuke-Szk commented on #32
It works well in my code.
**Acc rate got over 90.0**

The base of code is version `0.0.1a3`.
I've changed 3 parts of this version of code.

First, set dropout off in every layers.
Set `dropout = 0.0`

Second, fix NLLLoss setting.
`self.criterion = nn.NLLLoss(ignore_index=0)`
to
`self.criterion = nn.NLLLoss()`

Third, fix `prob` variable setting.
[code]

After 999 epochs, the result as below
![2018

[2018-10-29 05:19] jiqiujia opened #40 "Tie the input and output embedding?"
I think it's reasonable to tie the input and output embedding. Especially the output embedding along each token. But I still can't get a way to do this. Any one give an idea?

[2018-10-29 05:33] codertimo commented on #32
@Kosuke-Szk Thank you for sharing your result with us.
After I saw @Kosuke-Szk 's result, I thought *"Isn't our model is pretty small to train..?"*
As you guys know, we reduced our model to make them trainable using our GPU. And the training result was bad. However, the similar code (which is almost same with 0.0.1a4) works with smaller vocab size and dataset. So... If we make our model more bigge

[2018-10-29 06:18] jiqiujia commented on #40
The output embedding is linear layer in `MaskedLanguageModel `. I made a mistake: the output embedding along each token is already shared. It should be easy to tie the input embedding and output embedding.

[2018-10-29 11:57] eveliao opened #41 "the format of input"
You mentioned that

and gave an example:

However, the example is actually ONE sentence in one line.
Should it be:

(suppose these two sentences are continuous in the broader context)

[2018-10-29 13:21] codertimo commented on #41
I mean it could be **Two piece of one sentence** not actually real sentence.
Well It doesn't matter both two sentences and one sentence. And this example is came out from the original paper. So.. you can choose whatever you want 👍

[2018-10-29 16:47] CapitalZe commented on #38
Any update on this?

[2018-10-29 22:56] briandw commented on #40
Here's a paper: https://arxiv.org/abs/1608.05859

With tying there is a lower memory requirement and the training should be faster (i believe).

[2018-10-29 23:43] briandw commented on #30
I believe that they should do similar things, however there is a difference in implementation.

For a given input:
`x = torch.tensor([1.,0.,0.,0.])`
The Annotated Transformer version gives the output:
`tensor([ 1.5000, -0.5000, -0.5000, -0.5000], grad_fn=<ThAddBackward>)`

While torch.nn.LayerNorm gives:
`tensor([ 1.7320, -0.5773, -0.5773, -0.5773], grad_fn=<AddcmulBackward>)`

The layer_norm impl

[2018-10-30 01:07] codertimo commented on #30
@egg-west Is your question is solved? 👍

[2018-10-30 01:18] egg-west commented on #30
Thank you for your clarification, I guess pulling the epsilon out of sqrt may speed up the computation.
But yes, they did the same thing.

[2018-10-30 01:18] #30 closed

[2018-10-30 03:44] wangwei7175878 commented on #32
Hi there,
I trained the model on a big dataset (wiki 2500M + bookscorpus 800M, same as the BERT paper) for 200000 steps and  achieve an accuracy of 91%.
<img width="1148" alt="2018-10-30 11 40 25" src="https://user-images.githubusercontent.com/18477627/47694552-003c5280-dc39-11e8-9a91-17dec9d72f96.png">
I set weight decay = 0, I think use one of (dropout, weight decay) is enough.

[2018-10-30 04:05] codertimo commented on #32
@wangwei7175878 WOW this are brilliant, is there any result which used the `weigth_decay` with default?  And can you share the full log as a file??

## Origin corpus
 **How did you get the origin corpus?** I tried very hard to get the corpus, but I failed... Even I sent the email to authors to get the origin corpus, but I failed. **If it possible, can you share the origin corpus, so that I can tes

[2018-10-30 04:54] briandw commented on #32
@wangwei7175878 Can you share your pre-trained model? I'm really looking froward to trying this out but I don't have that kind of processing power.

Thank you for your efforts.

[2018-10-30 05:04] wangwei7175878 commented on #32
@codertimo The model can't converge use weight_decay = 0.01. My dataset is not exactly the origin corpus, but I think it is almost the same. Wiki data can easily download from [https://dumps.wikimedia.org/enwiki/](url) and you need a web spider to get bookscorpus from [https://www.smashwords.com/](url)

[2018-10-30 05:07] wangwei7175878 commented on #32
I failed to fine-tune my pre-trained model on downstream tasks(Fine-tune model can't converge). I will share my pre-trained model once it works.

[2018-10-30 05:11] wangwei7175878 commented on #32
@briandw My pre-trained model failed on downstream tasks(Fine-tune model can't converge). I will share the pre-trained model once it works.

[2018-10-30 05:19] wangwei7175878 commented on #32
@codertimo Here is the whole log. It took me almost one week to train about 250000 steps. The accuracy seems to be stuck at 91% which is reported as 98% in origin paper.
[log_run2_hhh_all_data_next_weight_1_no_decay.txt](https://github.com/codertimo/BERT-pytorch/files/2528108/log_run2_hhh_all_data_next_weight_1_no_decay.txt)

[2018-10-30 05:28] codertimo opened #42 "Making Wikipedia Corpus"
Building the same corpus with original paper. Please share your tips to preprocess and download the file. It would be great to share preprocessed data using dropbox or google drive etc.

[2018-10-30 05:28] codertimo opened #43 "Making Wikipedia Corpus"

[2018-10-30 05:30] codertimo commented on #42
#32

[2018-10-30 05:31] codertimo commented on #43
#32

[2018-10-30 05:34] codertimo commented on #32
@wangwei7175878 Can you share your code for crawling and preprocessing on above issue? Or if it possible can you share the full corpus with shared drive(dropbox, google drive etc). This would be really helpful to us.

[2018-10-30 05:35] codertimo commented on #32
@wangwei7175878 very interesting, authors said 0.01 weight decay is default parameter that they used. What's your parameter setting? it is same with default setting with our code except weigth_decay?

[2018-10-30 06:20] leon-cas commented on #36
So you mean only 15%  of all data are used to train MLM？

[2018-10-30 06:30] leon-cas commented on #36
@jiqiujia @codertimo thanks, guys.

[2018-10-30 06:31] #36 closed

[2018-10-30 07:28] mapingshuo commented on #43
The original paper (BERT) use "the concatenation of BooksCorpus (800M words) (Zhu et al., 2015) and English Wikipedia (2,500M words)." what do you mean "Movie Corpus"?

[2018-10-30 07:38] codertimo commented on #43
@mapingshuo Sorry It's my fault. haha I just made that title in 5seconds :) thank you!! 👍

[2018-10-30 07:46] mapingshuo opened #44 "Very low GPU usage when training on 8 GPU in a single machine"
Hi, I am currently pretaining the BERT on my own data. I use the alpha0.0.1a5 branch (newest version). <br>I found only 20% of the GPU is in use.<br>

[code]

I am not familiar with pytorch. Any one konws why?

[2018-10-30 07:47] codertimo commented on #29
@leon-cas yes #36 it's solved with your question

[2018-10-30 07:49] codertimo commented on #44
I think you should adjust the batch_size for full gpu usage. `-b` or `--batch_size` option can let you change the batch_size. :)

[2018-10-30 07:50] jiqiujia commented on #44
Wow. 8 V100...
I think the problem is with this line:
`    device = torch.device("cuda:0" if cuda_condition else "cpu")`
Only one gpu is used in this situation

[2018-10-30 07:51] codertimo commented on #44
@mapingshuo BTW... what a beautiful experimental device.. V100x6...

[2018-10-30 07:59] codertimo commented on #44
@jiqiujia well DataParallel automatically distributed to each GPU as you can see the 1-7 gpu memory usage

[2018-10-30 08:10] mapingshuo commented on #43
That's okay, I am looking for a valid Book Corpus too.

[2018-10-30 08:57] mapingshuo commented on #44
@codertimo I modified the batch_size from 64 to 128, this helps a little. When I tried a bigger batch_size (192), I get the Out Of Memory error. I'm trying to figure out the OOM problem now :)

[2018-10-30 08:58] codertimo commented on #44
hah @mapingshuo sounds like your adding new GPU device

[2018-10-30 12:29] mapingshuo commented on #44
1 GPU is quicker than 8 GPU in parallel, funny.

[2018-10-31 03:55] mapingshuo commented on #44
Oh, I found my vocab is too big (300,000) and I got 160 million parameters. Then I tokenized my original text and set min_freq as 5 when generating vocabulary. Now, the vocab_size became 30,000 and  the parameters num became 22 million. The training is much quicker, because I can modified the batch_size from 128 to 1024.

Maybe you can warn people not to generate vocabulary with plain text, haha.

[2018-10-31 04:53] codertimo commented on #44
@mapingshuo maybe it's time to increase the batch_size as fully as possible to fit in GPU memory

[2018-10-31 05:13] nateraw commented on #39
alpha0.0.1a4

[2018-10-31 05:16] nateraw commented on #39
@codertimo I just read over some more of the comments on #32...I'll update to latest version and then try again. Will report back ASAP

[2018-10-31 05:17] codertimo commented on #39
It seems like you are not the using original code. Did you changed something?
The loss are not looks like 0.0.1a4 version

[2018-10-31 05:20] nateraw commented on #39
I had changed the format of the output to dynamically work with some tests I was running. No actual changes to logic were made (but I could be wrong, haha). I'll close this for now and will reopen an issue if I find it continues (on your unaltered code).

[2018-10-31 05:20] #39 closed

[2018-10-31 05:50] wangwei7175878 commented on #32
Hi there,
I believe I fixed why model can’t converge with weight_decay = 0.01. Follow openai’s code [here:](https://github.com/openai/finetune-transformer-lm/blob/master/opt.py)
I think BERT used adamW instead of adam.
With rewriting this adam code in pytorch, my model can converge now with default setting.

[2018-10-31 06:38] codertimo commented on #32
@wangwei7175878 Sounds Great!
Can you make a pull request with your adamW implementation?
I'll test it on my corpus too 👍

[2018-10-31 15:46] briandw commented on #34
Google has released the source and pre-trained models.
https://github.com/google-research/bert

Although they claim that you need a TPU to train the base model.
"Includes scripts to reproduce results. BERT-Base can be fine-tuned on a standard GPU; for BERT-Large, a Cloud TPU is required (as max batch size for 12-16 GB is too small)."

[2018-11-01 02:44] ZhaoyueCheng commented on #34
I believe fine tuning can be done on a multi GPU system with accumulating gradients in PyTorch.

[2018-11-01 13:11] sq6ra opened #45 "Maybe Bugs?"
In pretrain.py, save() methods. I guess `self.bert.to(self.device)` should be removed..right?

[2018-11-01 14:09] codertimo commented on #45
@sq6ra No it's not bug. If we save the model which the weight tensor type is `torch.CudaTensor` then, this model can't be loaded on CPU directly. So it temporary change the weight to normal tensor and back to original device (if it's gpu, then go to gpu device)

https://github.com/codertimo/BERT-pytorch/blob/d10dc4f9d5a6f2ca74380f62039526eb7277c671/bert_pytorch/trainer/pretrain.py#L148-L149

[2018-11-01 14:36] sq6ra commented on #45
@codertimo when running the code on multi-GPUs environment,  I guess `to(self.device)` only put it back to CUDA:0, which might fail to restore the tensor to all devices.

[2018-11-02 01:16] codertimo commented on #45
Yes the default model is on CUDA:0 device.
And the paralleled model is keep in the other gpus, even we just get the model from CUDA:0 device. And get back to the CUDA:0 device right after the save is finished. So I don't think this is an bug.

[2018-11-02 01:50] waynedane commented on #32
I use my corpus, after three epochs, the acc rate  is 73.54% .I set weight_dacay = 0. The other parameters are the default. Training continues.

[2018-11-05 04:08] wq343580510 commented on #44
Try to move the criterion function in the forward function in bert.py and just return the loss of masked language model. （the output of the encoder is not used in the back），The speed will be more than doubled. and the use of gpu will be more than 70%-90%
![image](https://user-images.githubusercontent.com/15842810/47977198-bbf5fa00-e0f1-11e8-9a57-7d6665afe305.png)

I know the trick from a newbee co

[2018-11-05 17:38] briandw commented on #34
I didn't get this done quickly enough apparently. Here is the pre-trained model in PyTorch. https://github.com/huggingface/pytorch-pretrained-BERT

[2018-11-15 02:05] soobinseo opened #46 "Attention maybe changed"
Hi, Thanks for your great job.
I wonder that the attention mechanism of your code seems to be changed.
The shape of attention vector should be (**batch, timestep, timestep)**, but according to your code, the shape of self attention vector is (**batch, timestep, hidden_size**). There is new code that I fixed below.  Please review it and appreciate your comments. Thank you.

`
class Attention(nn.Mod

[2018-11-18 08:52] sz128 opened #47 "ner"

[2018-11-18 08:53] #47 closed

[2018-11-21 08:47] #44 closed

[2018-11-26 08:31] #46 closed

[2018-12-05 16:57] komelianchuk opened #48 "What should be the shapes and example of values of x and segment_info in BERT.forward?"
I'm trying to add BERT as trainable part to my model and want to pass some data to it.
Could you complete my code example with some x and segment_info?
[code]

[2018-12-07 12:07] zhezhaoa opened #49 "Question about the loss of Masked LM"
Thank you very much for this great contribution.
I found the loss of masked LM didn't decrease when it reaches the value around 7. However, in the official  tensorflow implementation, the loss of MLM decreases to 1 easily. I think something went wrong in your implementation.
In additional, I found the code can not predict the next sentence correctly. I think the reason is: `self.criterion = nn.NLL

[2018-12-11 05:50] JustinLin610 commented on #41
I am interested in the prediction of next sentence. If the input data are all continuous sentences, how can the model randomly select 50% for the continuous and 50% for the discontinuous?

[2018-12-11 06:20] andy-yangz commented on #41
And I also think if you mention there need spaces around '\t' is better,
unless we will have more vocabs if we don't have spaces.

[2018-12-14 10:48] tanaka-jp commented on #49
I think you are right.
My loss of next sentence is very low, but the acc of next_correct is always near 50%.

[2018-12-19 09:06] GanJiang17 commented on #3
Is this code support distributed training? I mean multi-computer with multi-gpu...

[2018-12-20 07:11] fucusy opened #50 "made a script to generate bert pre-train data"
the script is similar to https://github.com/google-research/bert/blob/master/create_pretraining_data.py from google-research.
it can convert a document into bert trainning data

[2018-12-28 23:33] logicmd opened #51 "[BERT] Cannot import bert"
I have problems importing `bert` when following http://gluon-nlp.mxnet.io/examples/sentence_embedding/bert.html
[code]

Looks gluonnlp are successfully installed. Any idea?
[code]

[2018-12-28 23:34] logicmd commented on #51
Sorry wrong repo...

[2018-12-28 23:34] #51 closed

[2019-01-09 02:17] Marsxia opened #52 "IndexError: list index out of range"

[2019-01-11 12:36] Henry-E commented on #43
Both GPT and BERT were trained on bookscorpus. Presumably there's a private copy people are passing about. There's some [web scrapers](https://github.com/soskek/bookcorpus) out there designed for recreating the bookscorpus but this repetition of work seems unnecessary. If anyone finds a copy, do let me know!

[2019-01-15 06:21] fgaoyang opened #53 "PositionalEmbedding"
The position embedding in the BERT is not the same as in the transformer. Why not use the form in bert?

[2019-01-25 00:19] raulpuric commented on #49
I've been trying to repro BERT's pretraining results from scratch in my own time, and I have been unable to train beyond an masked LM loss of 5.4. So if anyone is able to get past this point I'd love to learn what you did.

[2019-01-25 02:46] shionhonda commented on #32
@zheolong
The loss and accuracy is exactly what is printed on console by `data_iter` in `pretrain.py`.
Insert the following code [here](https://github.com/codertimo/BERT-pytorch/blob/d10dc4f9d5a6f2ca74380f62039526eb7277c671/bert_pytorch/trainer/pretrain.py#L134) and plot it.
[code]

[2019-02-19 06:13] BerenLuthien commented on #3
@codertimo  Did you already trained this model on small dataset ? If yes, would you share some info about it ? For example, what if we use p2.8xlarge GPUs to train on 1M dataset from scratch (Thanks for wonderful work BTW)

[2019-02-20 03:51] huangnengCSU opened #55 "will "random.randint(self.corpus_lines if self.corpus_lines < 1000 else 1000)" report error?"
in the dataset.py line 31, it seem to report error random.randint() needs two positional argument.

[2019-02-22 23:15] makcedward opened #56 "chooses 15% of token"
From paper, it mentioned

It means that 15% of token will be choose for sure.

From https://github.com/codertimo/BERT-pytorch/blob/master/bert_pytorch/dataset/dataset.py#L68,
for every single token, it has 15% of chance that go though the followup procedure. Does it aligned with 15% of token will be chosen?

[2019-03-01 09:21] marcwww commented on #52
Check if the blank '\t' in your 'corpus.small' file. The examples in the readme file are not ready-to-use actually.

[2019-03-01 09:22] marcwww commented on #52
Check if the blank '\t' in your 'corpus.small' file. The examples in the readme file are not ready-to-use actually.

[2019-03-01 09:23] marcwww commented on #52
@Marsxia
Check if the blank '\t' in your 'corpus.small' file. The examples in the readme file are not ready-to-use actually.

[2019-03-05 13:28] JasonLiu-THU commented on #52
But I have the blank '\t' in my file, I also met this problem.

[2019-03-22 13:35] riktimmondal opened #57 "How to test your model after training on my own dataset?"
I am using for next sent. gen so while it has stored model in .pt format but how to run my test dataset using those models.

Thanks

[2019-03-22 15:38] riktimmondal commented on #52
I am getting the same error but could'nt resolve it

[2019-03-23 09:01] junchen14 opened #58 "what does \t be used for here"

[2019-03-26 06:34] vdpappu commented on #52
@Marsxia @riktimmondal
faced this problem. Text cleanup while generating text file fixed the issue. Cannot point out the specifics, but modifying below code to your case might help:

[code]
[code]

[2019-03-28 03:57] aluminumbox commented on #52
Could you please provide a correct example?

[2019-04-01 10:47] #58 closed

[2019-04-01 11:05] junchen14 commented on #52
I also met with this issue but cannot solve it. is there any body could help?

[2019-04-01 14:01] loveJasmine opened #59 "would you provide some sample datasets for demo the pre-training"

[2019-04-02 01:56] aluminumbox commented on #52
It is very easy to modify this problem. Just debug the code at line 23 in dataset.py.

[2019-04-07 19:31] BerenLuthien opened #60 "self.d_k = d_model // h gives 64 dimension ?"
https://github.com/codertimo/BERT-pytorch/blob/d10dc4f9d5a6f2ca74380f62039526eb7277c671/bert_pytorch/model/attention/multi_head.py#L15

Looks that  **self.d_k = d_model // h ---> embed size 768 dividing number of heads 12 = 64**
[code]
why convert 768 dimensional [q,v,k] into 64 dimension embedding ?

[2019-04-08 13:22] codertimo commented on #56
Sorry for the late response, I think you are right.
I'll fix it ASAP

[2019-04-08 13:23] codertimo commented on #53
@Yang92to Greate Point, I'll check out the BERT positional embedding method, and update ASAP

[2019-04-08 13:26] codertimo commented on #49
Sorry for my late update, and I think your point is right too. I'll fix it up ASAP

[2019-04-11 02:08] Gpwner opened #61 "How can I finetune with this project"
Thanks

[2019-04-14 02:35] yvquanli commented on #59
+1

[2019-05-01 19:39] tangxiangru commented on #59
+2

[2019-05-05 12:39] itamargol commented on #49
What is the verdict here?
Using 2 different losses without ignore=0 for sentence prediction?

[2019-05-24 15:27] haimeil commented on #51
i have the same problem . can you advise why? thx!

[2019-05-26 07:57] MohamedLotfyElrefai commented on #52
i tried using this 2 lines with duplicated of them in dataset
`Welcome to the \t the jungle\n`
`I can stay \t here all night\n`
and i face the same error:
![image](https://user-images.githubusercontent.com/45141667/58378928-93a1f000-7f9c-11e9-8c67-de9d7afbf6c5.png)

[2019-06-09 09:33] MohamedLotfyElrefai opened #64 "OOM error in cuda while passing large corpus of wikipedia text files ? how to manage big files to train"
I have used this parameter

`Loading Vocab /home/ai/LM_fit/bert/bert_pytorch/dataset/wiki_vocab.small
Vocab Size:  2135556
Loading Train Dataset /home/ai/LM_fit/bert/bert_pytorch/dataset/wiki_arabic.txt
Loading Dataset: 1760404it [00:03, 497901.29it/s]
Loading Test Dataset None
Creating Dataloader
Building BERT model
Creating BERT Trainer
Total Parameters: 1029286598
Training Start
EP_train:0:   0

[2019-06-10 03:06] LeoLai930603 opened #65 "Erroneous Code"
I believe there are something wrong here. Even though I have never get into this if-clause during experiment.

https://github.com/codertimo/BERT-pytorch/blob/d10dc4f9d5a6f2ca74380f62039526eb7277c671/bert_pytorch/dataset/dataset.py#L17-L20

Are you trying to self-increase a NoneType? And I am wondering what the corpus_lines is for here, remembering the how many lines have been read or setting the m

[2019-06-13 15:53] oldcricket commented on #59
+3

[2019-06-27 08:23] YurimALee commented on #52
I changed code at line 23 in dataset.py from '\t' to '\\t'. Now it works.

[2019-07-08 18:24] jbmaxwell commented on #59
+4

[2019-07-08 22:12] jbmaxwell commented on #57
I have a similar question. My understanding is that the output should be a distribution over tokens for each predicted (i.e., "next") output, but I'm wondering how to get an actual string result?... Did you manage to get your next sentence generation working?

[2019-07-10 20:40] jbmaxwell opened #67 "ONNX conversion: TransformerBlock problem"
I'm wondering if there's any workaround for an error when trying to convert BERT-pytorch to ONNX. The problem occurs when trying to trace through the TransformerBlock. I'm wondering if there's a way to rewrite the `forward()` to get around this error?

[code]

The error is:

[code]
The trace can't handle the type of the Lambda, so I'm wondering if rewriting without the Lambda would fix it? (Sorry,

[2019-07-24 02:50] mp5088643 opened #68 "How to Output Embedded Word Vector"
I want to output the word vector

[2019-07-24 02:51] Vesauza commented on #68
try this,

[2019-07-24 02:51] Vesauza commented on #68
try this,

[2019-07-24 02:53] Vesauza commented on #68
try this,
----
model = torch.load(your_model_file)
vocab = WordVocab.load_vocab(your_vocab_file)

tokenEmb = model.state_dict()['embedding.token.weight']
segEmb = model.state_dict()['embedding.segment.weight']
posEmb = model.state_dict()['embedding.position.weight']

[2019-07-24 07:23] mp5088643 commented on #68
Thank you, but I want to get the vector corresponding to each word, so I'm a little confused about the weight matrix.

[2019-07-24 07:36] mp5088643 commented on #68
I see. Thank you very much.

[2019-07-24 07:47] mp5088643 commented on #68
Is vocab.to_seq("word") [0] the index corresponding to Word? Can we just take the value of the corresponding matrix directly?

[2019-08-02 07:14] iiiHunter commented on #52
Change the code at line 23 in dataset.py, from split("\t") --> split("\\t")

[2019-08-03 11:04] GeorgeXiaojie commented on #61
I have the same problem.  Could you provide some examples that use the pretrained-model ?

[2019-08-06 08:43] songyingxin commented on #52
If you use the demo in README, change the code at line 23 in dataset.py, from split("\t") --> split("\\t").

[2019-08-12 03:26] zhaoshishuang commented on #59
+5

[2019-09-02 08:28] willduan commented on #59
+6

[2019-09-04 15:10] qiaomeng commented on #52
Thanks a lot! After a night of debug, I fix this problem.
First change the code dataset.py at line 23:
self.lines = [line[:-1].replace("\n", "").split("\t")
                              for line in tqdm.tqdm(f, desc="Loading Dataset", total=corpus_lines)]
than download this file
https://drive.google.com/file/d/1gdNG92VABX8eWc7JWnU7Y-1wa5cu5-0L/view?usp=sharing.
push this file to the $YOUPROJECT/d

[2019-10-08 14:33] JamesOwers opened #69 "Vocab's load_vectors seems to be an old method?"
The line referencing `self.load_vectors` (https://github.com/codertimo/BERT-pytorch/blob/7efd2b5a631f18ebc83cd16886b8c6ee77a40750/bert_pytorch/dataset/vocab.py#L63) will fail as this method doesn't appear to exist (on quick search of the repo).

Apologies if I've misunderstood something obvious...

[2019-10-13 08:12] MohamedLotfyElrefai commented on #61
the same problem here too

[2019-10-14 09:39] MohamedLotfyElrefai opened #70 "# of parameter is larger than bert base instead im using specs less than bert base"
my model
 **-hs 60 -l 3 -a 3 -s 26 -b 5 -e 10 -w 4 --with_cuda True --log_freq 20 --on_memory False --lr 1e-3 --adam_weight_decay 0.0 --adam_beta1 0.9 --adam_beta2 0.999**

### #of parameter
**Total Parameters: 229,503,472**
which ****bert** base** using only
[code]
### #of parameter
**110M parameters**

[2019-10-14 09:59] MohamedLotfyElrefai commented on #38
it didn't solved yet i think it's solved.

[2019-10-21 04:20] jj1jj opened #71 "Did you have tried to use ipdb to set breakpoint in __get__item__, which is a funtion from BERTDataset"
<img width="513" alt="微信截图_20191021121809" src="https://user-images.githubusercontent.com/23332644/67176519-e6bd8900-f3fc-11e9-9ea3-c522edcc09bc.pn
运行 python -m ipdb test_bert.py 后程序会直接卡住，貌似是多进程的缘故,5个num_worker?

[2019-10-22 14:05] leigaoxiang opened #72 "predict next sentence ony? it also can do SQA assignments?"
predict next sentence only? it also can process SQA assignments?

[2019-11-06 09:45] Vesauza commented on #60
MultiHead(Q, K, V ) = Concat(head1, ..., headh)WO,In this work we employ h = 8 parallel attention layers, or heads. For each of these we use dk = dv = dmodel/h = 64. Due to the reduced dimension of each head, the total computational cost is similar to that of single-head attention with full dimensionality.

----from Attention Is All You Need

[2019-11-11 05:52] #45 closed

[2019-11-18 08:37] harsha-sharechat-account commented on #44
hi can you pls reply on how to overcome that because it is the problem that i have been  facing as well

[2019-11-18 14:44] mapingshuo commented on #44
Sorry, I forgot...

[2019-11-25 06:50] minhresl commented on #59
+7

[2019-11-26 18:48] jacklanchantin commented on #53
@codertimo the BERT positional embedding method is to just learn an embedding for each position. So you can use nn.Embedding with a constant input sequence [0,1,2,...,L-1] where L is the maximum sequence length.

[2019-11-28 10:17] hbaianni commented on #68
appear an error
ModuleNotFoundError: No module named 'model.bert'

[2019-12-02 02:17] ChawDoe commented on #34
Is the issue solved? Please tell me. I want to use your implementation together with the pretrained model to realise my ideas.

[2019-12-02 03:15] briandw commented on #34
@ChawDoe At this point you should probably look at fast version of Bert from HuggingFace.
https://medium.com/huggingface/distilbert-8cf3380435b5

[2019-12-02 06:07] ChawDoe commented on #34
@briandw Thank you.

[2020-01-26 07:30] vcbeaut opened #73 "Can you share me a trained data?"
Can you share me a trained data?

[2020-02-13 01:42] OrchidXu opened #74 "How to use BERT model to fine-tune a cloze-style task?"
I mean,not just use BERT model to predict answers,also train it.

[2020-02-21 12:06] xieziyan commented on #59
+8

[2020-02-21 12:07] loveJasmine commented on #59
forget it!

[2020-02-21 12:07] #59 closed

[2020-03-10 07:30] 0GSC0-0 opened #75 "If I want to use /u as a placeholder instead of /t, what do I need to do"

[2020-03-12 03:40] hbaianni commented on #68
How to Output Embedded Sentence Vector

[2020-03-12 03:41] hbaianni opened #76 "How to Output Embedded Sentence Vector?"

[2020-04-16 04:46] ChenDdon commented on #76
https://github.com/hanxiao/bert-as-service
I hope this project can help you.

[2020-04-17 10:32] Ronin1307 commented on #61
I have the same problem. Could you provide some examples that use the pretrained-model ?

[2020-04-20 06:29] Huntersxsx commented on #44
Sorry, I met OOM problem, but I don't understand what you meant exactly, is there something different between your screenshot and the author's origin code?

[2020-06-15 03:04] bookong22 opened #78 "embedding/position.py with RuntimeError if d_model is odd"
such as if set d_model = 29, max_len = 10000
RuntimeError: The expanded size of the tensor (14) must match the existing size (15) at non-singleton dimension 1.  Target sizes: [10000, 14].  Tensor sizes: [10000, 15]
code in this line may be fixed (line 30):
pe[:, 1::2] = torch.cos(position * div_term)

[2020-06-15 03:58] bookong22 commented on #78
modify
pe[:, 1::2] = torch.cos(position * div_term)
to
pe[:, 1::2] = torch.cos(position * div_term)[:, :d_model//2]

[2020-06-16 08:32] hbaianni commented on #76
what i mean is use self_models to output sentence vector rather than Google pre-trained models

[2020-07-16 07:58] dongrixinyu opened #79 "How to use this bert model to load and finetune ?"
Hi!
I am new to pytorch. So, could you provide a small example to illustrate how to use this pre-trained model to load, inference and finetune?
Thx

[2020-07-23 13:46] scuhz commented on #32
oh my god ! I have no idea about this. I have the same result with avg_acc =50, according these methods in the issue.

[2020-08-21 06:03] sfaux opened #80 "How to implement model once pretrained for masked input sentences?"
I'm relatively new to pytorch and BERT, but I figured out how to pretrain the BERT model on my dataset. I want to use the model to predict the mask(s) in an input sentence. How do use the model to predict that?

[2020-08-28 04:39] bertmaher opened #81 "Default model sizes are much smaller than BERT base"
The base BERT model in https://arxiv.org/pdf/1810.04805.pdf uses 768 hidden features, 12 layers, 12 heads (which are also the defaults in `bert.py`), while the default configuration in the argparser of `__main__.py` uses 256/8/8.  Would it make sense to align the example script with the paper?  I spent quite a while puzzling over my low GPU utilization with the default configuration.  Thanks!

[2020-09-18 03:36] DeShuiYu opened #82 "how to do Ner"
if I want to do NER,so What should I do with your code

[2020-09-21 03:23] yonghee12 commented on #53
@codertimo
Since BERT uses learned positional embeddings and it is one of the biggest difference between original transformers and BERT, I think it is quite urgent to modify the positional embedding part.

[2020-09-23 06:42] dshwei opened #83 "transformer.py 中的forword方法调用的SublayerConnection类。实现残差链接和标准化的实现"
sublayerout =  layerNorm(x +sublayer(x))
**首先是残差链接然后是层标准化**
在你代码中：sublayer.py中 应该是
     def forward(self, x, sublayer):
        "Apply residual connection to any sublayer with the same size."
              # return x + self.dropout(sublayer(self.norm(x)))
        return self.norm( x + self.dropout(sublayer(x)))

tranformer.py中：
    def forward(self, x, mask):
             x = self.input_sublayer(x

[2020-10-03 07:41] Woncheol1905 opened #85 "Do we need dropout at the last of TransformerBlock.forward()?"
In the Transformer paper "Attention is all you need",
dropout is applied to the output of each sub-layer before it is added to the sub-layer input and normalized.
(i.e. dropout -> residual conndection -> normalization -> dropout -> ...)

But in this code, residual connection -> _**dropout**_ -> normalization -> dropout -> residual connection -> ...
I think if we don't use dropout at the last retur

[2020-10-16 08:27] Bowenduan commented on #83
The transformer implementation is the same as [The Annotated Transformer](http://nlp.seas.harvard.edu/2018/04/03/attention.html).

In *sublayer.py*, there is a comment `Note for code simplicity the norm is first as opposed to last.`

[2020-11-16 10:42] #85 closed

[2020-11-23 14:14] limengqigithub commented on #52
This is how I solve this problem. My corpus is like this：
Welcome to the\tthe jungle
I can stay\there all night
And, change the code at line 23 in dataset.py  （This py file is the py file where you reported the wrong location）
from "self.lines = [line[:-1].split("\t")
                             for line in tqdm.tqdm(f, desc="Loading Dataset", total=corpus_lines)]"
to
"self.lines = [line[:-1].rep

[2020-11-24 10:46] Emir-Liu commented on #52
i also meet the same question,but i found the above solution is useless.
then,i download the corpus.small as above says
https://drive.google.com/file/d/1gdNG92VABX8eWc7JWnU7Y-1wa5cu5-0L/view?usp=sharing.
i found all question is solved.
i suspect it's the problem caused by editor ,it's rediculious.
i find when i use vim ,i autoset /t as four space,this is the cause of the question.
i open the corpu

[2020-12-07 05:11] Emir-Liu commented on #58
\t is used to seperate the two sentence in a line,for next sentence prediction

[2020-12-07 05:46] Emir-Liu opened #86 "In Next Sentence Prediction task,the original code may choose the same line when you try to use the negative sample"
[code]

[2020-12-08 12:32] XueQiangFan opened #87 "An error occurred【AttributeError: type object 'BERT' has no attribute 'hidden'】"
class BERTLM：self.next_sentence = NextSentencePrediction(self.bert.hidden)
This error appeared when I ran: 【AttributeError: type object 'BERT' has no attribute 'hidden'】
How to deal with it? Thank you!

[2021-03-05 14:43] SakerLiu opened #88 "IndexError"
I try to run according to md tutorial
but
![image](https://user-images.githubusercontent.com/30914380/110130632-2e7f5d80-7e04-11eb-807b-12dd6a842b69.png)

[2021-03-23 03:45] guotong1988 opened #89 "The exact English pretraining data and Chinese pretraining data that are exact same to the BERT paper's pretraining data."
Any one know where to get them?
Thank you and thank you.

[2021-04-24 01:23] PandasPan commented on #41
Yeah, this is clear then.

[2021-06-23 03:02] Wushengyao commented on #88
same issue

[2021-06-27 06:57] zysNLP opened #91 "why language_model.py has different vectors"
In language_model.py codes, class NextSentencePrediction and class MaskedLanguageModel has different input x in their forward function, In class NextSentencePrediction the input use "x[: 0] in "return self.softmax(self.linear(x[:, 0]))" but in class MaskedLanguageModel the input use x in "return self.softmax(self.linear(x))", I think if there is something wrong?

As I debug to this, both x in thei

[2021-07-03 18:25] EvanZ opened #92 "Why not use torch.no_grad when evaluating test data?"
The way the trainer is set up the `iteration` that is used for train and test is similar except when train step is run the backwards propagation occurs. But one other thing I typically see different between test and train is that in the test batch `with torch.no_grad()` is used so that, for example, dropout is not applied. Was there any reason this isn't used here?

[2021-07-14 02:10] boykis82 commented on #91
x[:, 0] includes all semantics of x[:,0:50] because of self attention.
You can use x[:,0] or x[:,1] or sum(x, axis=1) or mean(x, axis=1) ... whatever you wants.
But in my experience, there are no performance difference.
It's enough to use only x[:,0] when you train classification task.

[2021-08-17 01:13] zxhjames commented on #88
hey bro,do you have solutions?

[2021-08-18 08:03] xinsheng44 commented on #61
me too.（俺也一样。）

[2021-08-22 09:16] ndn-love opened #93 "dataset / dataset.py have one erro?"
"
def get_random_line(self):
        if self.on_memory:
            self.lines[random.randrange(len(self.lines))][1]
"
This code is to get the incorrect next sentence（isNotNext : 0)，
maybe it random get a lines it is (isnext:1)。

[2021-08-30 03:41] YuhaoTan2 commented on #71
Set num_worker to 0 may work.

[2021-09-22 13:26] faatemehch commented on #19
hi, thank you for the code it's really helpful. but i have an issue!
what is segment_info actually? i mean what should we write here?

[2021-10-14 14:54] DDzzxiaohongdou commented on #55
这代码bug好多的

[2021-11-05 12:59] hanyangii opened #94 "It keeps trying to use CUDA despite --with_cuda False option"
Hello,

I have tried to run _bert_ with _--with_cuda False_, but the model keeps running "forward" function on cuda. These are my command line and the error message I got.

_bert -c corpus.small -v vocab.small -o bert.model --with_cuda False -e 5_

Loading Vocab vocab.small
Vocab Size:  262
Loading Train Dataset corpus.small
Loading Dataset: 113it [00:00, 560232.09it/s]
Loading Test Dataset None
C

[2022-01-17 00:37] lihaoxin2020 opened #95 "Pooler layer?"
I noticed that their is a pooler layer in original BERT that seems not present here. Did I miss something?

[2022-02-07 14:21] syzhy113 commented on #88
becauese there are some problems abouot spilt('\t').

[2022-04-22 06:44] nlpCSir opened #96 "bert-vocab?"
bert-vocab is a py?I can't run it.

[2022-04-22 06:48] nlpCSir commented on #96
And vocab.small has a wrong encoding

[2022-04-22 06:51] nlpCSir commented on #61
俺也一样

[2022-06-29 13:47] shazifan commented on #88
same issue, any solutions?

[2022-06-30 06:34] cheng940929 commented on #78
d_model should be a even number

[2022-06-30 08:45] cheng940929 commented on #88
check your corpus, it might not follow this rule in some lines: 'text \t text'

[2022-07-07 02:46] Jasmine969 opened #98 "why specify `ignore_index=0` in the NLLLoss function in BERTTrainer?"
# trainer/pretrain.py

[code]

I cannot understand why `ignore index=0` is specified when calculating NLLLoss. If the ground truth of `is_next` is False (label = 0) in terms of the NSP task but BERT predicts True, then NLLLoss will be 0 (or nan)... so what's the aim of `ignore_index = 0` ???

====================

Well, I've found that `ignore_index = 0` is useful to the MLM task, but I still can'

[2022-08-03 11:33] Guo-Stone commented on #92
I think it should use torch.no_grad(). Or it will run out of GPU memory.

[2022-10-19 05:33] suhyeong10 opened #99 "What dataset did you use to train model?"
Can you tell me which dataset you used to train the model?

[2022-10-19 07:11] sunnysky29 commented on #99
hi ， i also have the same question